# /lib/systemd/system/nginx-protection.service
[Unit]
Description=Nginx Protection
After=network.target
Wants=network.target

[Service]
Type=simple
User=www-data
ExecStart=/usr/bin/nginx-protection webserver --listen 127.0.0.1:9121 --private-key /etc/nginx-protection/key.pem --salt RANDOM-SALT
# ExecStart=/usr/bin/nginx-protection webserver --enable-log 1 --listen 127.0.0.1:9121 --private-key /etc/nginx-protection/key.pem --salt RANDOM-SALT
Restart=always

[Install]
WantedBy=multi-user.target
