doctype html
html(lang=i18n.lang dir=i18n.dir data-ng-app="a")
  head
    title #{i18n.oneMoreStep} | #{i18n.organization}
    include includes/head.pug
  body
    .card
      .card-content
        .container
          include includes/loading.pug

          noscript
            include includes/noscript.pug

          #main(style="display:none")
            include pages/challenge-js.pug

    #footer
      include includes/footer.pug

    include includes/assets.pug
