<header class="card-header has-background-info-dark">
  <p class="card-header-title is-size-4 has-text-light">[[ .i18n.js ]]</p>
</header>
<div class="card-content">
  <div class="content">
    <div class="columns">
      <div class="column is-2"></div>
      <div class="column is-8">
        <div class="py-3">
          <div>[[ unescapeHTML .i18n.jsChallengeWaiting ]]</div>
        </div>
        <div class="py-3">
          <progress
            class="progress is-small"
            data-ng-class="{'is-info' : times.progress < 100, 'is-success': times.progress >= 100}"
            value="{{ times.progress }}"
            max="100"
          ></progress>
        </div>
      </div>
    </div>
  </div>
</div>
